<h2><%= @restaurant.name %></h2>

<h4>Address</h4>
<p><%= @restaurant.address %></p>

<h4>Phone number</h4>
<p><%= @restaurant.phone_number %></p>

<h4>Category</h4>
<p><%= @restaurant.category %></p>

<hr>

<div class="d-flex justify-content-between">
  <h3>Reviews</h3>
  <div>
    <%= link_to 'Add a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
  </div>
</div>

  <div class="my-3">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item d-flex justify-content-between align-items-center"><%= review.content %><span class="badge badge-primary badge-pill"><%= review.rating %></span></li>
    <% end %>
  </div>
