<h2>Add a new review for <span class="font-italic"><%= @restaurant.name %></span></h2>

<%= simple_form_for [@restaurant, @review] do |f| %>

  <%= f.input :content %>
  <%= f.input :rating %>

  <%= f.submit class: "btn btn-primary" %>

<% end %>

<hr>

<%= link_to "Back to the restaurant page", restaurant_path(@restaurant), class: "btn btn-primary" %>
